#login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 40vh;
}

input {
    background-color: #1B1B1B;
    padding: 10px;
    margin: 5px 0;
    height: 35px;
    width: 215px;
    color: white;
    border-color: transparent;
    border-radius: 5px;
    opacity: 0.5 !important;
}

#username-input:focus {
    border: 1px solid #670039;
    opacity: 1 !important;
}

#password-input:focus {
    border: 1.5px solid #350180;
    opacity: 1 !important;
}

#login-form button {
    text-align: center;
    padding: 0 0 0 2px;
    height: 35px;
    width: 35px;
    color: white;
    font-size: 32px;
    background-color: transparent;
    border: 1px solid lightgray;
    border-radius: 512px;
}

#loginbtn {
    display: none;
}

.auth-check {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border-left-color: #09f;
    animation: spin 1s linear infinite;
    margin-bottom: 1rem;
}