#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    background-color: #1D1D1D;
    width: 100%;
    position: absolute;
    top: 0;
    padding: 8px 15px;
    font-size: 16px;
}

#powerbutton:hover {
    color: crimson;
    cursor: pointer;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 150px;
    border-radius: 8px;
    overflow: hidden;
}

#topbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: #2B2929;
    height: 45px;
    border-radius: 10px 10px 0 0;
    border-right: 1px solid #670039;
    border-left: 1px solid #350180;
    color: white;
    padding: 0 10px;
}

#child1,
#child2,
#child3 {
    display: flex;
    align-items: center;
}

#child3 span{
    padding-left: 10px;
}
#child3 span:hover  {
    color: #670039;
    cursor: pointer;
}


#child2 {
    flex-grow: 1;
    justify-content: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#child2 h3 {
    overflow: hidden;
    text-overflow: ellipsis;
}

#grid {
    background-color: rgba(0, 0, 0, 0.5);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 50px;
    height: 560px;
    overflow: hidden;
    padding: 10px;
    border-radius: 0 0 10px 10px;
    border-right: 1px solid #670039;
    border-bottom: 1px solid #350180;
    border-left: 1px solid #350180;
    overflow: scroll;
}

#title {
    display: flex;
    align-items: center;
    grid-row: 1;
    grid-column: 1 / -1;
    margin: 10px 0 0 40px;
    font-size: 24px;
    font-weight: 300;
}

.icon-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    transition: all 0.3s ease;
    cursor: grab;
}

#icon {
    padding: 25px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-color: rgba(255, 255, 255, 0.05);
    font-size: 2.5rem;
    margin-bottom: 12px;
    border-radius: 512px;
    color: #6226b7bb;
}

#terminput {
    width: 100%;
    padding: 8px 15px;
    background-color: transparent;
    border-radius: 0 0 10px 10px;
}

#terminput:focus {
    border-right: 1px solid #670039;
    border-bottom: 1px solid #350180;
    border-left: 1px solid #350180;
}

#inner-container,
#termoutput,
#grid {
    scrollbar-width: none
}

@media (max-width: 768px) {
    #container {
        width: 95%;
    }

    #grid {
        max-height: 60vh;
    }

    #child3 span {
        font-size: 20px;
    }
}

@media (max-width: 480px) {
    #navbar {
        justify-content: space-between;
    }

    #date {
        font-size: 0.9em;
    }
}